<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grab On Behind</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <h1>Grab On Behind</h1>
    <p>
      You'll say a programming language's name then other player will say
      another starting with your last letter.
    </p>

    <form action="/" method="post">
      <input
        type="text"
        name="name"
        placeholder="Enter Your Name"
        onkeyup="key()"
        id="name"
        value="<%=name%>"
      />
      <p></p>
      <input
        type="text"
        name="grp"
        placeholder="Enter Group(Optional)"
        id="grp"
        value="<%=grp%>"
      />

      <button type="submit" id="button" onclick="" disabled>Let's start</button>
    </form>
    <script>
      function key() {
        if (document.getElementById('name').value === '') {
          document.getElementById('button').disabled = true;
        } else {
          document.getElementById('button').disabled = false;
        }
      }
    </script>
  </body>
</html>
